<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.holaapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/hombre"
        android:label="@string/app_titulo"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PerfilExtranoActivity"></activity>
        <activity android:name=".PerfilActivity" />
        <activity android:name=".PremiumActivity" />
        <activity android:name=".ChatEspecificoActivity" />
        <activity android:name=".AllChatsActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MenuActivity" />
        <activity android:name=".PrimeraActivity" />
        <activity android:name=".RegistroActivity" />
        <activity android:name=".MainActivity" /> <!-- Sample AdMob App ID: ca-app-pub-8198449201147216~8534233705 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8198449201147216~8534233705" />
    </application>

</manifest>